<!DOCTYPE html>
<html lang="en">

<head>
    <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{#if title.length}}
    <title>{{ title }}</title>
    {{else}}
    <title>Cendek</title>
    {{/if}}

</head>

<body>
    <div id="app">
        {{{ body }}}
    </div>
    <script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="//cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="//unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            delimiters: ['${', '}'],
            data() {
                return {
                    menu: [
                        { icon: 'fastfood', title: 'Me', link: "//anasrar.github.io" },
                        { icon: 'local_cafe', title: 'Blog', link: "//anasrar.github.io/blog" }
                    ],
                    title: "Cendek",
                    drawer: null,
                    year: new Date().getFullYear(),
                    valid: true,
                    result: '',
                    link: '',
                    linkRules: [
                        v => !!v || 'Link is required'
                    ],
                    loading: false,
                    dialog: false
                }
            },
            methods: {
                getLink() {
                    if (this.$refs.form.validate()) {
                        this.loading = true
                        axios({
                            method: 'post',
                            url: '/',
                            data: {
                                link: this.link,
                            }
                        }).then(res => {
                            this.result = `${window.location.protocol}//${res.data.result}`
                            setTimeout(_ => {
                                this.loading = false
                                this.dialog = true
                            }, 500)
                        })
                    }
                }
            }
        })
    </script>

</body>

</html>